body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.name-input {
    margin-bottom: 20px;
}

.name-input input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.name-input button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.name-input button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    background-color: #ffffff;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card.active {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
}

.card:hover {
    background-color: #f0f0f0;
}

.selected-value {
    margin-bottom: 20px;
}

.details {
    margin-top: 20px;
}

.details.hidden {
    display: none;
}

#submit-vote {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#submit-vote:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#submit-vote:hover:enabled {
    background-color: #218838;
}

#toggle-show-hide {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#toggle-show-hide:hover {
    background-color: #0056b3;
}
